<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agendar Cita</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/new_appointment.js}" defer></script>
</head>
<body>
<div class="page-container">
    <h1>Agendar nueva cita</h1>
    <form id="appointmentForm" class="patient-form">
        <div>
            <label>Paciente:</label>
            <select id="patientId" required>
                <option value="" disabled selected>Selecciona un paciente</option>
            </select>
        </div>
        <div>
            <label>Fecha:</label>
            <input type="date" id="date" required />
        </div>
        <div>
            <label>Hora:</label>
            <input type="time" id="time" required />
        </div>
        <div>
            <label>Motivo:</label>
            <input type="text" id="reason" required />
        </div>
        <div>
            <label>Veterinario:</label>
            <input type="text" id="veterinarian" required />
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-secondary" href="/appointments">Cancelar</a>
        </div>
        <div id="errorAppointment" style="color: red; margin-top: 1rem;"></div>
    </form>
</div>

</body>
</html>
