<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pacientes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/js/patients.js}" defer></script>
</head>
<body>
<div class="page-container">
    <h1>Pacientes registrados</h1>
    <div class="actions">
        <a class="btn btn-primary" th:href="@{/patients/new}">Registrar paciente</a>
        <a class="btn btn-secondary" th:href="@{/home}">Volver a inicio</a>
    </div>
    <div class="table-wrapper">
        <table class="patients-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Dueño</th>
            </tr>
            </thead>
            <tbody id="patientsTableBody">
            <tr id="emptyRow"><td colspan="6">Cargando datos...</td></tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
